<div class="row" style="padding-top: 10px;">
    <div class="col-lg-6">
        <h3>Lista de Salones</h3>
    </div>
    <div class="col-lg-6">
        <button class="btn btn-success float-center"[routerLink]="['listadoSalones']">Salones</button>
        <button class="btn btn-primary float-right" (click)="agregarSalon()">Agregar Salon</button>
    </div>
</div>
<br>
<table class="table table-sm table-hover">
    <thead>
        <th>Nombre del Salon</th>
        <th>Descripcion</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let salon of listaSalon">
            <td><a>{{salon.nombre}}</a></td>
            <td><a>{{salon.descripcion}}</a></td>
            <td><button class="btn btn-primary btn-sm float-right" (click)="verDetalleSalon(salon.id)">Editar</button></td>
            <td><button class="btn btn-danger btn-sm float-right"(click)="deleteSalon(salon.id)">Eliminar</button></td>
        </tr>
    </tbody>
</table>
