<h3>{{accion}}  Alumno</h3>
<form [formGroup]="registroAlumno" (ngSubmit)="guardarAlumno()">
    <div class="form-group row">
      <label class="control-label col-md-12">Nombre</label>
      <div class="col-md-12">
        <input type="text" class="form-control" formControlName="nombre">
      </div>
      <span class="text-danger ml-3" *ngIf="registroAlumno.controls.nombre.errors?.required && registroAlumno.controls.nombre.touched">
          El nombre es requerido
        </span>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12">Apellido Paterno</label>
        <div class="col-md-12">
          <input type="text" class="form-control" formControlName="apellidoPaterno">
        </div>
        <span class="text-danger ml-3" *ngIf="registroAlumno.controls.apellidoPaterno.errors?.required && registroAlumno.controls.apellidoPaterno.touched">
            El apellido Paterno es requerido
        </span>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-12">Apellido Materno</label>
        <div class="col-md-12">
          <input type="text" class="form-control" formControlName="apellidoMaterno">
        </div>
        <span class="text-danger ml-3" *ngIf="registroAlumno.controls.apellidoMaterno.errors?.required && registroAlumno.controls.apellidoMaterno.touched">
            El apellido Materno es requerido
        </span>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-12">Telefono</label>
        <div class="col-md-12">
          <input type="text"  class="form-control" formControlName="telefono">
        </div>
        <span class="text-danger ml-3" *ngIf="registroAlumno.controls.telefono.errors?.required && registroAlumno.controls.telefono.touched" >
            El numero de telefono es requerido
        </span>
      </div>
     <div class="form-group row">
        <label class="control-label col-md-12">Edad</label>
        <div class="col-md-12">
          <input type="number" min=0 class="form-control" formControlName="edad">
        </div>
        <span class="text-danger ml-3" *ngIf="registroAlumno.controls.edad.errors?.required && registroAlumno.controls.edad.touched">
            La edad es requerida
        </span>
      </div>
     <div class="form-group row">
        <label class="control-label col-md-12">Genero</label>
        <div class="col-md-12">
          <select class="form-control" formControlName="genero">
            <option selected>Seleccion de Genero</option>
            <option value="masculino">Masculino</option>
            <option value="femenino">Femenino</option>
          </select>
        </div>
        <span class="text-danger ml-3" *ngIf="registroAlumno.controls.genero.errors?.required && registroAlumno.controls.genero.touched">
            El genero es requerido
        </span>
      </div>
      <div class="form-group row">
          <label>Asignar Salon</label>
          <div class="col-md-12">
          <select class="form-control" formControlName="salon">
            <option *ngFor="let salon of listaSalon" value="{{salon.nombre}}">{{salon.nombre}}</option>
          </select>
          </div>
          <span class="text-danger ml-3" *ngIf="registroAlumno.controls.salon.errors?.required && registroAlumno.controls.salon.touched">
            El salon es requerido
          </span>
      </div>
     
      <div class="form-group">
          <button class="btn btn-success float-right" [disabled]="registroAlumno.invalid">Aceptar</button>
          <button [routerLink]="['/']" class="btn btn-secondary float-left">Cancelar</button>
      </div>
  </form>