<div class="row" style="padding-top: 10px;">
    <div class="col-lg-6">
        <h3>Lista de General de Alumnos</h3>
    </div>
    <div class="col-lg-6">
        <button class="btn btn-success float-center" (click)="listadoSalones()">Salones</button>
        <button class="btn btn-primary float-right" [routerLink]="['agregarA']">Nuevo Alumno</button>
    </div>
</div>
<br>
<table class="table table-sm table-hover">
    <thead>
        <th>Nombre Completo</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let alumno of list">
            <td><a [routerLink]="['/ver/',alumno.id]">{{alumno.nombreCompleto}}</a></td>
            <td><button class="btn btn-primary btn-sm float-right" [routerLink]="['/editarA/',alumno.id]">Editar</button></td>
            <td><button class="btn btn-danger btn-sm float-right" (click)="delete(alumno.id)">Eliminar</button></td>
        </tr>
    </tbody>
</table>
